<div class="d-flex flex-column">
    <h5>New Person Form</h5>
    <form class="d-flex flex-column">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="givenName">
            <mat-error>First Name is a required field</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="surName">
            <mat-error>Last Name is a required field</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input type="text" matInput formControlName="age">
            <mat-error>Age is missing or is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-error>Email is missing or is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Education</mat-label>
            <mat-select>
                <mat-option value="Some college, no degree">Some college, no degree</mat-option>
                <mat-option value="Master's degree">Master's degree</mat-option>
                <mat-option value="Bachelor's degree">Bachelor's degree</mat-option>
                <mat-option value="Associates' degree">Associates' degree</mat-option>
            </mat-select>
            <mat-error>Education is required</mat-error>
        </mat-form-field>
    </form>
    <button mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            (click)="onSubmit()">
        Submit
    </button>
    <button (click)="onSetValue()">Set value</button>
</div>
